<div
  data-controller="turbo-nav-tree"
  data-turbo-nav-tree-nav-tree-value='{{ nav_tree | to_json | escape }}'
  data-turbo-nav-tree-depth-value='0'
  data-turbo-nav-tree-current-path-value=""
  data-turbo-nav-tree-root-container-value=".custom-menu"
>
  <template data-turbo-nav-tree-target="itemTemplate">
    {% raw %}
      {{#hasChildren}}
        <div class="flex items-center p-2 w-full break-all rounded-sm hover:bg-accent-50 dark:hover:bg-accent-800" data-action="click->turbo-nav-tree#toggle">
          <svg
            class="mr-2 cursor-pointer shrink-0"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path class="fill-purple-400" d="M19.888 7.804a.88.88 0 0 0-.314-.328l-7.11-4.346a.889.889 0 0 0-.927 0L4.426 7.476a.88.88 0 0 0-.314.328L12 12.624l7.888-4.82Z" />
            <path class="fill-white dark:fill-slate-800" d="M4.112 7.804a.889.889 0 0 0-.112.43v7.892c0 .31.161.597.426.758l7.11 4.346c.14.085.3.13.464.13v-8.736l-7.888-4.82Z" />
            <path class="fill-purple-600" d="M19.888 7.804c.073.132.112.28.112.43v7.892c0 .31-.161.597-.426.758l-7.11 4.346c-.14.085-.3.13-.464.13v-8.736l7.888-4.82Z" />
          </svg>
          <a href="{{path}}"
            data-turbo="false"
            class="line-clamp-2 hover:underline {{#isActive}}${hasActiveClass}{{/isActive}}"
            >
            {{link_text}}
          </a>
          <!-- 有子节点时显示 toggle 按钮 -->
          <div turbo-nav-tree-item-target-icon class="inline-block ml-auto mr-1 {{#open}}rotate-90{{/open}}">
            <svg class="w-4 h-4 opacity-70 transition-transform duration-200"
                fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
              <path d="M9 6l6 6-6 6"/>
            </svg>
          </div>
        </div>
      {{/hasChildren}}
      {{^hasChildren}}
        <div class="flex items-center p-2 w-full break-all rounded-sm hover:bg-accent-50 dark:hover:bg-accent-800">
          <svg
            class="mr-2 shrink-0"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path class="fill-sky-400" d="M19.888 7.804a.88.88 0 0 0-.314-.328l-7.11-4.346a.889.889 0 0 0-.927 0L4.426 7.476a.88.88 0 0 0-.314.328L12 12.624l7.888-4.82Z" />
            <path class="fill-white dark:fill-slate-800" d="M4.112 7.804a.889.889 0 0 0-.112.43v7.892c0 .31.161.597.426.758l7.11 4.346c.14.085.3.13.464.13v-8.736l-7.888-4.82Z" />
            <path class="fill-sky-600" d="M19.888 7.804c.073.132.112.28.112.43v7.892c0 .31-.161.597-.426.758l-7.11 4.346c-.14.085-.3.13-.464.13v-8.736l7.888-4.82Z" />
          </svg>
          <a href="{{path}}"
            data-turbo="false"
            class="line-clamp-2 hover:underline {{#isActive}}${hasActiveClass}{{/isActive}}"
            >
            {{link_text}}
          </a>
        </div>
      {{/hasChildren}}
    {% endraw %}
  </template>
</div>
