<!doctype html>
<html lang="{{ site.language }}" class="scroll-smooth" data-controller="theme">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="turbo-prefetch" content="false">
    {% meta_tags %}
    {{ 'stylesheets/application.css' | asset_url | stylesheet_tag: data-turbo-track: 'reload' }}
    {{ 'baklib/shared/main.css' | asset_url | stylesheet_tag: data-turbo-track: 'reload' }}
    {{ 'baklib/shared/main.js' | asset_url | script_tag: data-turbo-track: 'reload' }}
    {{ 'javascripts/application.js' | asset_url | script_tag: defer: true, data-turbo-track: 'reload' }}

    <style>
      {%- assign screen_width = site.settings.screen_width.value | presence | default: '1200px' -%}
      {%- assign left_sidebar_width = site.settings.left_sidebar_width | presence | default: '300' | append: 'px' -%}
      {%- assign right_sidebar_width = site.settings.right_sidebar_width | presence | default: '240' | append: 'px' -%}
      {%- assign header_height = site.settings.header_height | presence | default: '64' | append: 'px' -%}

      :root {
        --max-content-width: {{ screen_width }};
        --left-sidebar-width: {{ left_sidebar_width }};
        --right-sidebar-width: {{ right_sidebar_width  }};
        --header-height: {{ header_height }};
      }
    </style>

    {% assign head_html = site.settings.head_html | presence %}
    {% if head_html %}
      <!-- start head_html -->
      {{ head_html }}
      <!-- end head_html -->
    {% endif %}

    {% weixin_share_tag app_id: site.settings.weixin_app_id, app_secret: site.settings.weixin_app_secret, debug: site.settings.weixin_debug, enabled: site.settings.weixin_enabled %}
  </head>
  <body id="js--body" class="grid grid-rows-[auto_1fr_auto] min-h-screen tracking-wide" x-data="{ isHomePage: false }" x-init="isHomePage = location.pathname === '{{ site.index_path }}'">
    {% render 'header', page: page %}
    {{ content_for_layout }}
    {% render 'footer' %}
  </body>
</html>
