{%- assign cat_page = page.parent -%}
{%- assign faq_path = cat_page.parent.path | default: '/faq' -%}
{%- assign cat = cat_page.link_text | handleize | url_encode -%}
{%- assign product = page.link_text | handleize | url_encode -%}

<script>
  (function () {
    var target = "{{ faq_path }}?cat={{ cat }}&product={{ product }}";
    window.location.replace(target);
  })();
</script>

<noscript>
  <p>Please <a href="{{ faq_path }}?cat={{ cat }}&product={{ product }}">click here</a> to continue.</p>
</noscript>

{% schema %}
{
  "name": "FAQ Product",
  "description": "FAQ product page",
  "sub_page_templates": ["faq_detail"],
  "settings": [
    {
      "type": "image_picker",
      "id": "thumbnail",
      "label": "Product Thumbnail"
    }
  ]
}
{% endschema %}