{%- comment -%}
  FAQ Product Container Page
  This page does not render content.
  When accessed directly, it redirects to:
  /faq?cat=...&product=...
{%- endcomment -%}

{%- assign cat_page = page.parent -%}
{%- assign faq_path = cat_page.parent.path | default: '/faq' -%}

<script>
  (function () {
    var target = "{{ faq_path }}?cat={{ cat_page.slug | url_encode }}&product={{ page.slug | url_encode }}";
    window.location.replace(target);
  })();
</script>

<noscript>
  <p>Please <a href="{{ faq_path }}?cat={{ cat_page.slug | url_encode }}&product={{ page.slug | url_encode }}">click here</a> to continue.</p>
</noscript>

{% schema %}
{
  "name": "FAQ Product Container",
  "description": "FAQ product container, redirects to FAQ index with product filter",
  "thumb_url": "images/schema/page.png",
  "sub_page_templates": ["faq_qna", "faq_detail"],
  "settings": [
    {
      "type": "image_picker",
      "id": "thumbnail",
      "label": "Product Thumbnail"
    }
  ]
}
{% endschema %}