{%- assign faq_path = page.parent.path | default: '/faq' -%}
<script>
  (function () {
    var target = '{{ faq_path }}?cat={{ page.settings.title | handleize | url_encode }}';
    window.location.replace(target);
  })();
</script>

<noscript>
  <p>Please <a href="{{ faq_path }}?cat={{ page.settings.title | handleize | url_encode }}">{{ page.settings.title }}</a> to continue.</p>
</noscript>

{% schema %}
{
  "name": "FAQ Category",
  "description": "FAQ category container, redirects to FAQ index with category filter",
  "sub_page_templates": ["faq_product"],
  "settings": [
    {
      "id": "title",
      "type": "text",
      "readonly": true,
      "label": "t:schema.templates.page.settings.title.label",
      "info": "t:schema.templates.page.settings.title.info"
    },
    {
      "id": "description",
      "type": "textarea",
      "label": "t:schema.templates.page.settings.description.label"
    },
    {
      "id": "content",
      "type": "richtext",
      "label": "t:schema.templates.page.settings.content.label",
      "readonly": true,
      "info": "t:schema.templates.page.settings.content.info"
    }
  ]
}
{% endschema %}
