{%- assign product_page = page.parent -%}
{%- assign cat_page = product_page.parent -%}
{%- assign faq_path = cat_page.parent.path | default: '/faq' -%}

{%- assign cat = cat_page.slug -%}
{%- assign product = product_page.slug -%}
{%- assign q = page.slug -%}

<script>
  (function () {
    var target = "{{ faq_path }}?cat={{ cat | url_encode }}&product={{ product | url_encode }}&q={{ q | url_encode }}";
    window.location.replace(target);
  })();
</script>

<noscript>
  <p>Please <a href="{{ faq_path }}?cat={{ cat | url_encode }}&product={{ product | url_encode }}&q={{ q | url_encode }}">click here</a> to continue.</p>
</noscript>